[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/toml"]
	path = third_party/toml
	url = https://github.com/marzer/tomlplusplus.git
